@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    background: url(./assets/book.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    background: url(./assets/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iframe{
    background: url(./assets/oqituvchi.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}